body {
    font-family: Arial, sans-serif;
    background-color: #212529;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    color: #212529;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-img {
    width: 80px;
    height: auto;
}

.logo-text {
    text-align: left;
}

header .logo h1,
header .logo p {
    margin: 0;
    text-align: center;
}

.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #212529;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background: grey;
}


.password-container {
    position: relative;
    margin-right: 10px;
}

/* .password-container input {
    width: 90%;
    padding-right: 20px; 
} */

.eye-icon {
    position: relative;
    top: 50%;
    right: 10px;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
    cursor: pointer;
}

#email, #name, #usn {
    width: 97%;
}

#role {
    width: 100%;
}


.error {
    color: red;
    font-size: 0.9em;
}

.password-container {
    position: relative;
}
 .password-container input {
    width: 94%;
    padding-right: 40px;
}
.password-container .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
